venv/
__pycache__/
*.pyc
db.sqlite3
.env
staticfiles/

# Environment variables
*.env

# Local settings
local_settings.py

# Google credentials (never commit these!)
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET